APP_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=eduguide
POSTGRES_USER=eduguide
POSTGRES_PASSWORD=change_me
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-flat-lake-ax7qm4rb-pooler.c-4.us-east-2.aws.neon.tech:5432/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_oditcxL30fKG
